#NOTE: These files are too big to upload! you can however find the same files in the SteamVR Tours app, shaders_pc_000.vpk is in
#game folder while the pak files are in the core folder of Steam Tours
/game/base/shaders_pc_000.vpk
/game/core/pak01_000.vpk
/game/core/pak01_001.vpk
/game/core/pak01_002.vpk
game/base/cfg/video_tools.txt
content/core/maps/editor/23940_4488_4aca.dmx
game/_toolsettings/asset_browser/settings.txt
game/base/cfg/video_tools.txt
